### 다음 리스트에서 최댓값과 최솟값을 출력하라.

In [2]:
nums = [1,2,3,4,5,6,7]

print(f'최솟값은 : {min(nums)}')
print(f'최댓값은 : {max(nums)}')

최솟값은 : 1
최댓값은 : 7

In [83]:
class Human :
    def __init__(self, name, age): # Human 클래스의 생성자(constructor)
        self.name = name
        self.age = age
        
        print(f"{self.name} 응애응애")
    def cry(self):
        print(f"{self.name} 으앙으앙")
    def iam(self):
        
        print(f"{self.name} {self.age}")

    def n_a(self):
        self.age = self.age + 1
        print(f'1년후 {self.age}살')
        
    def new_name(self, new_name): # 인헤리턴스
        self.name = new_name
        print(f"새로운 이름 {self.name}")
        
#     def __del__(self): # 소멸자
#         print(f"죽었다")

In [84]:
kim = Human("홍길동", 18)
kim.new_name("황성대")

홍길동 응애응애
새로운 이름 황성대

In [61]:
type(kim)

__main__.Human

In [63]:
def kim

SyntaxError: expected ':' (1899080301.py, line 1)

In [85]:
class Student(Human):
    pass

In [90]:
s1 = Student("최수혁", 18)
s1.n_a()

최수혁 응애응애
1년후 19살

In [92]:
class Teacher(Human):
    pass

t1 = Teacher("정연택", 36)
t1.n_a()

정연택 응애응애
1년후 37살