### 1. 두 개의 변수 a와 b에 각각 5와 3을 할당하고, 그 합을 출력하는 코드를 작성하세요.

In [42]:
a = 5
b = 3

print(f'{a+b}')

8

### 2. 사용자로부터 이름을 입력 받아 환영 메시지를 출력하는 프로그램을 작성하세요.

In [2]:
name = input("이름을 입력해주세요 : ")
print(f"{name}님 안녕하세요.")

이름을 입력해주세요 : 성대
성대님 안녕하세요.

### 3. 1부터 10까지의 숫자 중에서 짝수만 출력하는 코드를 작성하세요.

In [3]:
for i in range(1, 10+1):
    if i%2 == 0 :
        print(i, end=" ")

2 4 6 8 10

### 4. 주어진 리스트 [1, 2, 3, 4, 5]를 출력하는 코드를 작성하세요.

In [4]:
list = [1,2,3,4,5]
print(f"{list}")

[1, 2, 3, 4, 5]

### 5. 문자열 "Hello, World!"를 역순으로 출ㄺ하는 코드를 작성하세요.

In [39]:
str1 = "Hello, World"
print(str1[::-1])

dlroW ,olleH

### 6. 사용자로부터 두 개의 숫자를 입력 받아 두 숫자를 곱한 결과를 출력하는 프로그램을 작성하세요.

In [9]:
a, b = map(int, input().split())
print(f"{a*b}")

5 5
25

### 7. 다음 리스트 [1, 2, 3, 4, 5]에서 3의 인덱스를 출력하는 코드를 작성하세요.

In [10]:
list[2]

3

### 8. 주어진 리스트 [1, 2, 3, 4, 5]에서 모든 요소를 더한 값을 출력하는 코드를 작성하세요.

In [25]:
a = 0
for i in range(5):
    a = a + list[i]
    print(a)

1
3
6
10
15

### 9. 주어진 문자열 "python"을 세 번 반복하여 출력하는 코드를 작성하세요.

In [17]:
for i in range(3):
    print('"python"')

"python"
"python"
"python"

In [41]:
d = 'd s d'
type(d)

str

In [48]:
a = 5
b = 3
c = a // b
print(type(c))
print(c)

<class 'int'>
1

In [51]:
name = int(input())
type(name)

3

int

In [56]:
s = 0
for i in range(1, 11):
    if i % 2 == 1 :
        s += i
print(s)

25

In [65]:
e = 0
o = 0
for i in range(1, 11):
    if i % 2 == 0 :
        e = e + i
    elif i % 2 == 1:
        o += i
print(f"짝수의 합은 {e}입니다.")
print(f"홀수의 합은 {o}입니다.")

짝수의 합은 30입니다.
홀수의 합은 25입니다.

In [67]:
s1 = 0
s2 = 0
s3 = 0
for i in range(1, 11):
    if i % 2== 0:
        s1 += i
    elif i % 2 == 1:
        s2 += i
    else :
        s3 += i
print(s1)
print(s2)
print(s3)

30
25
0

In [70]:
for i in list:
    print(i, end=":")

1:2:3:4:5:

In [72]:
reversed_list = list[::-1]
reversed_list

[5, 4, 3, 2, 1]

In [76]:
my_list = ["a", 2, [], 0.5]
my_list

['a', 2, [], 0.5]

In [77]:
my_tuple = (1, "a", [], ())

In [79]:
print(type(my_list))
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [80]:
t = "Hello, World!"
print(t[::-1])

!dlroW ,olleH

In [85]:
s1 = 'Hello world'
s2 = "Hello world"
s3 = """Hello world"""

In [86]:
s1

'Hello world'

In [87]:
s2

'Hello world'

In [88]:
s3

'Hello world'

In [100]:
def my_func(a, b):
    return a + b
my_func(3, 5)

8

In [103]:
n = int(input())
for i in range(1,10):
    print(f"{n} * {i} = {n*i}")

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18