In [2]:
# -*- coding: utf-8 -*-
"""
Created on Fri Apr 26 15:30:22 2024
https://kosis.kr/statHtml/statHtml.do?orgId=334&tblId=DT_1963003_004_S&vw_cd=MT_ZTITLE&list_id=H1_2_002&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE
@author: kimru
"""
import os    
os.environ['KMP_DUPLICATE_LIB_OK']='True'
import pandas as pd
import numpy as np
import matplotlib as mpl           # 그래프를 그리는 패키지
import matplotlib.pyplot as plt    # 그래프를 그리는 패키지

# Windows 한글 폰트 설정
font_name = mpl.font_manager.FontProperties(fname='C:/Windows/Fonts/malgun.ttf').get_name()
mpl.rc('font', family=font_name)

In [3]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib as mpl           # 그래프를 그리는 패키지
import matplotlib.pyplot as plt    # 그래프를 그리는 패키지

In [4]:
# CSV 파일 읽기abs
df = pd.read_csv('2022년도_전·출입 및 학업중단 학생 수(고)_전체.csv')

In [5]:
df.head()

,시도교육청,교육지원청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,제외여부,제외사유,고등부1학년 전입학생수,...,고등부1학년 전체학생수,고등부2학년 전입학생수,고등부2학년 전출학생수,고등부2학년 전체학생수,고등부3학년 전입학생수,고등부3학년 전출학생수,고등부3학년 전체학생수,전입학생수(계),전출학생수(계),전체학생수(계)
0,서울특별시교육청,교육부,서울특별시 강남구,S000003540,국립국악고등학교,4,국립,N,NaN,0.0,...,149.0,0.0,0.0,143.0,0.0,0.0,146.0,0.0,5.0,438.0
1,서울특별시교육청,교육부,서울특별시 성북구,S000003561,서울대학교사범대학부설고등학교,4,국립,N,NaN,12.0,...,223.0,5.0,1.0,233.0,0.0,0.0,253.0,17.0,4.0,709.0
2,서울특별시교육청,교육부,서울특별시 금천구,S000005401,국립전통예술고등학교,4,국립,N,NaN,0.0,...,181.0,0.0,2.0,177.0,0.0,0.0,168.0,0.0,7.0,526.0
3,서울특별시교육청,서울특별시교육청,서울특별시 송파구,S010000370,가락고등학교,4,공립,N,NaN,13.0,...,250.0,11.0,4.0,282.0,3.0,1.0,290.0,27.0,13.0,822.0
4,서울특별시교육청,서울특별시교육청,서울특별시 강동구,S010000371,강동고등학교,4,사립,N,NaN,9.0,...,190.0,6.0,0.0,206.0,2.0,0.0,208.0,17.0,2.0,604.0